.mail-box
  position: relative
  width: 100%
  padding: 50px 20px 0 20px
  box-sizing: border-box
  border: 1px solid gray
  margin-top: 150px;

  &__user
    display: flex
    align-items: center
    justify-content: space-between
    position: absolute
    top: -16px;
    left: -16px;
    background-color: #ffffff
    padding-right: 10px

  &__logo
    border: 1px solid gray
    border-radius: 50%
    overflow: hidden
    width: 30px
    height: 30px
    margin-right: 10px
