<div class="logging">
  <div *ngIf="entrance" class="logging__exit">
    <div class="logging__title">{{ email }}</div>
    <div class="logging__button" (click)="exitMail()">Выход</div>
  </div>
  <div *ngIf="!entrance" class="logging__entrance">
    <input #entranceInput placeholder="Введите Ваш email" type="email" class="logging__input">
    <div class="logging__button" (click)="entranceMail(entranceInput.value)">Вход</div>
  </div>
  <div *ngIf="error" class="logging__error">
    <h2>Ваш email не найде, попробуйте один из этих:</h2>
    <p>sample87@mail.ru</p>
    <p>sample74@mail.ru</p>
    <p>sample69@mail.ru</p>
  </div>
</div>
