.autocomplete
  position: relative

  &__drop
    position: absolute
    background: #ffffff
    width: 100%
    box-sizing: border-box

  &__mail
    padding: 5px 0
    cursor: pointer
    font-size: 14px
    &:hover
      background darkgrey
      color azure
